apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: hypershift-azjx
  namespace: red-hat-acm-tenant
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload@sha256:50e8bbd05be8a946bd8d9fb7c347aee58945cfcfc351a2e72f11bb46fab58892
        name: container-image
        resources: {}
status: {}
